In [1]:
import pandas as pd
import matplotlib.pyplot as pt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("C:\\Users\\Moon\\Desktop\\DS-AI\\Labs\\New folder (2)\\SVM_dataset.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,2,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,4,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,5,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
df.isnull().sum()

animal_name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
class_type     0
dtype: int64

In [5]:
x=df.drop('predator',axis=1)
y=df['predator']

In [6]:
y

0      1
1      0
2      1
3      1
4      1
      ..
96     0
97     0
98     1
99     0
100    0
Name: predator, Length: 101, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=8)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)

StandardScaler()

In [9]:
svm=SVC(kernel='linear')
svm.fit(x_train,y_train)

SVC(kernel='linear')

In [10]:
y_pred=svm.predict(x_test)

In [11]:
y_pred

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0],
      dtype=int64)

In [12]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [13]:
accuracy_score=(y_pred,y_test)

In [14]:
classification_report(y_pred,y_test)

'              precision    recall  f1-score   support\n\n           0       0.56      0.45      0.50        11\n           1       0.50      0.60      0.55        10\n\n    accuracy                           0.52        21\n   macro avg       0.53      0.53      0.52        21\nweighted avg       0.53      0.52      0.52        21\n'

In [17]:
svm.predict([[1,1,0,0,1,0,0,1,1,1,0,0,4,0,0,1,1]])

array([1], dtype=int64)